.App {
  text-align: center;
}
.HeaderTwo{
  display: inline;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.Body{
  background-image: url('./Img/1.jpg')
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel {
  height: 40px;
}
.side{
  height: 400px;

}
.homelaman{
  font-family:Arial, sans-serif;
  color: blueviolet;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.logo{
  height: 60px;
  width: 70px;
}